%div.socials
  %div.round_button
    %a.social_link{href:'http://vk.com/'}
      %img.social_icon{src:'/images/social/vk.png'}
  %div.round_button
    %a.social_link{href:'http://facebook.com/'}
      %img.social_icon{src:'/images/social/fb.png'}
  %div.round_button
    %a.social_link{href:'http://instagram.com/'}
      %img.social_icon{src:'/images/social/inst.png'}
