%div.catalog_index
  = render partial: 'shared/elements/filters'
  .units_box
    = render template: 'templates/more_items'
    .units_item_fill
    .units_item_fill
    .units_item_fill
    .units_item_fill
  = render partial: 'shared/components/catalog/paginator'